[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "rice"]
	path = rice
	url = https://github.com/dr-oofenshmirtz/ikz87s-gourmet-rice
[submodule "nixos/configs/rice"]
	path = nixos/configs/rice
	url = https://github.com/dr-oofenshmirtz/ikz87s-gourmet-rice
