*.zip
*/*.zip
.cache/*
.gitconfig
.oh-my-zsh/*
.oh-my-zsh
.Xdefaults
.xscreensaver
.cargo/*
code/*
.config/i3blocks/scripts
Desktop/*
.dmrc
Documents/*
Downloads/*
.fehbg
.fzf
.fzf.bash
.gem/*
.git/*
.config/xfce4
.config/xfce4/*
.config/ibus
.config/ibus/*
.config/pulse
.config/pulse/*
.config/tms
.config/tms/*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xubuntu
.config/xubuntu/*
.gnupg
.config/obsidian/*
.config/obsidian
go/*
golib/*
.ICEauthority
.local/*
.mozilla/*
Music/*
neovide_r2022-08-09_15-32-28.restart-0001.log
neovide_rCURRENT.log
.npm/*
.npm-global/*
Pictures/*
.pki
Public/*
rofi/*
rofi
.rustup
snap/*
.sudo_as_admin_successful
Templates/*
.thunderbird
Videos/*
.vscode/*
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-oof-ThinkPad-T460-5.8
.zcompdump-oof-ThinkPad-T460-5.8.oof-ThinkPad-T460.14816
.zcompdump-oof-ThinkPad-T460-5.8.oof-ThinkPad-T460.4900
.zcompdump-oof-ThinkPad-T460-5.8.oof-ThinkPad-T460.6203
.zsh_history
